.btn-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	width: 100px;
	height: 30px;
	margin: 0px;
	padding: 0px 12px;
	font-size: 16px;
	font-weight: 500;
	background-color: var(--secondary-color);
	color: var(--light-blue);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
}

.btn-details:active {
	transform: scale(0.97);
}
