.back-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	color: #333;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	background-color: transparent;
}

.back-button .MuiSvgIcon-root {
	font-size: 30px;
	color: var(--dark-red);
}
