/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Start of CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

/* CSS Global Variables For Styling, Can Be Used Anywhere Ex: background-color: var(--primary-color); */
:root {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 100%;
	--white: #ffffff;
	--black: #000000;
	--grey: #f0f2f5;
	--inset: #e0e0e0;
	--dark-grey: #575757;
	--green: rgb(67, 188, 67);
	--dark-green: rgb(0, 50, 0);
	--light-green: rgb(221, 239, 224);
	--light-blue: rgb(212, 244, 255);
	--orange: rgb(255, 165, 0);
	--dark-red: rgb(100, 0, 0);
	--primary-color: #e5484d;
	--secondary-color: #3e63dd;
}

/* Backboard behind the phone display */
html {
	background-color: var(--grey);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Make it look like a phone */
body {
	box-shadow:
		0px 10px 20px rgba(0, 0, 0, 0.19),
		0px 6px 6px rgba(0, 0, 0, 0.23);
	width: 360px;
	height: 800px;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--black);
	overflow-x: hidden;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--white);
	padding: 0 20px;
	box-sizing: border-box;
	height: 24px;
}

button {
	font-family: 'Poppins', sans-serif;
}
