.btn-lg {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 60px;
	margin: 30px;
	padding: 10px 20px;
	font-size: 22px;
	font-weight: 800;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: var(--light-blue);
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow:
		0px 10px 20px rgba(0, 0, 0, 0.19),
		0px 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-lg:active {
	transform: scale(0.97);
}
