.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--primary-color); /* Example background color */
	color: var(--white);
}

.navbar-brand {
	font-size: 26px;
	font-weight: bold;
}

.navbar-profile .MuiSvgIcon-root {
	color: var(--dark-red);
	font-size: 45px;
}
