.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 12px;
	background-color: var(--primary-color);
	color: var(--white);
}

.navbar-brand {
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.navbar-profile .MuiSvgIcon-root {
	color: var(--dark-red);
	font-size: 45px;
}
