.container {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 10px;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h2 {
	margin-bottom: 40px;
}

input[type='text'],
input[type='password'] {
	width: 140%;
	height: 40px;
	margin-bottom: 20px;
	border-radius: 20px;
	padding-left: 10px;
}

/* Add margin to the top of the Email input */
input[type='text'] {
	margin-top: 20px;
}

button {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
}

.back-button {
	background-color: gray;
}

.message {
	color: green;
}

a {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-decoration: none;
}
