.arrow-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgb(150, 150, 150);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	height: 30px;
	width: 30px;
	margin: 10px;
	outline: none;
	transition: all 0.3s ease;
	box-shadow:
		0px 10px 20px rgba(0, 0, 0, 0.19),
		0px 6px 6px rgba(0, 0, 0, 0.23);
}

.arrow-button:active {
	transform: scale(0.9);
}

.arrow-button .MuiSvgIcon-root {
	color: #ffffff;
	font-size: 40px;
}
